<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    <a class="nav-link" asp-controller="account" asp-action="register">
        Register
    </a>
    @RenderBody()
</div>
</body>
</html>
